<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!-- Default Screen Values -->
    <add key="PrimaryDatabase" value="Customer1" />
    <add key="SecondaryDatabase" value="Customer2" />
    <add key="Username" value="developer" />
    <add key="Password" value="P@ssword1" />
    <add key="Loaders" value="3"/>
    <add key="BatchSize" value="1800" />
    <add key="LoadRecordLimit" value="25000" />

    <!-- Purchase Values -->
    <add key="ConcertId" value="1" />
    <add key="TicketLevelId" value="1" />
    <add key="CustomerId" value="0" />
    <add key="CustomerName" value="Generator" />

    <!-- Timing in Seconds -->
    <add key="Runtime" value="1080" /> <!-- 1080 -->
    <add key="Sleeptime" value="300" /> <!-- 300 -->
    
    <!-- Database settings -->
    <add key="TransientFaultHandlingRetryCount" value="30" />
    <add key="TransientFaultHandlingMinBackoffDelaySeconds" value="3" />
    <add key="TransientFaultHandlingMaxBackoffDelaySeconds" value="5" />
    <add key="TransientFaultHandlingDeltaBackoffSeconds" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>