################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$ure SQL HOL Configuration Guide - Final.docx
WebPortal/AuditLogUtility/AuditLogUtility.csproj
