@model IEnumerable<Tenant.Mvc.Core.Models.VenueModel>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Venue Administration Portal</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <fieldset>
        <div class="row row-underline-light">
            <h2>Available Venues</h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Venue</th>
                        <th>Capacity</th>
                        <th>Description</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(@item.VenueName, "Edit", new { id = item.VenueId }, new { @class = "links" })
                            </td>
                            <td>
                                @item.Capacity
                            </td>
                            <td>
                                @item.Description
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </fieldset>
</div>