
@{
    ViewBag.Title = "Version";
}

<div class="container">
    <h2>Version Details</h2>

    <div class="row">
        <div class="col-sm-12">
            <b>Last Checked in by:</b> @ViewBag.LastCheckInBy
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b>Last Check in DateTime:</b> @ViewBag.LastCheckInDateTime
        </div>
    </div>
</div>