<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=anandsub14;AccountKey=RH0+rmlVRxvyr/yf2hZmDhSm8/Uoru3I4xgXrjkUesgTahZZyW9/pd7Ib5G9F/RPt4lVQ+VbjFyWWCWere/zsg==" />
  </appSettings>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>