<div class="row box-dark height-220">
    <h3>Sort By Date</h3>

    <ul>
        @{
            for (var x = 0; x < 4; x++)
            {
                var date = DateTime.Now.AddMonths(x);
                
                <text>
                    <li>
                        <a href="#">@date.ToString("MMMM yyyy")</a>
                    </li>
                </text>
            }
        }

        <li>
            <a href="#">See All Dates ></a>
        </li>
    </ul>
</div>
