@model List<Tenant.Mvc.Models.ConcertListViewModel.VenueViewModel>

<div class="row box-dark">
    <h3>Local Venues</h3>

    <ul>
        @{
            if (Model != null && Model.Any())
            {
                foreach (var venue in Model.OrderBy(a => a.VenueName).GroupBy(a => a.VenueId).Select(a => a.First()).Take(2))
                {
                    <li>
                        <a href="@Url.Action("Index", "Venue", new { venueId = venue.VenueId })">@venue.VenueName - @venue.ConcertCount Event(s)</a>
                    </li>
                }
            }
        }

        <li><a href="@Url.Action("Index", "Venue")">See All Venues ></a></li>
    </ul>
</div>

