/* ========================================================================================== */
/* HTML ELEMENTS */
/* ========================================================================================== */

body 
{
    color: #FFFFFF;
}

header 
{
    background-color: #333333;
}

tr {
    background-color: #FFFFFF;
}

th {
    color: #FFB900;
    background-color: #4d4d4d;
    font-weight: bold;
}

td {
    color: #4D4D4D;
}

td a {
    color: #4D4D4D;
}

td a:visited {
    color: #4D4D4D;
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #AAAAAA;
}

/* ========================================================================================== */
/* BOOTSTRAP ELEMENTS */
/* ========================================================================================== */

.control-label
{
    color: #FFFFFF;
}

.control-label-modal {
    color: #000000;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #AAAAAA;
}

.ui-autocomplete {
    color: #4D4D4D;
    background-color: #FFFFFF;
}

.ui-menu-item {
    color: #4D4D4D;
}

.ui-state-focus {
    color: #C33501;
    background-color: #E6E6E6;
}

/* ========================================================================================== */
/* HEADER */
/* ========================================================================================== */

.logo-heading {
  color: #FFFFFF;
  background-color: #626262;
  font-weight: normal;
}

.sub-heading {
  color: #FFFFFF;
  background-color: #626262;
}

/* ========================================================================================== */
/* MENU */
/* ========================================================================================== */

.menu-border {
    border-left-color: #FFFFFF;
}

.nav-menu li a {
	color: #FFFFFF !important;
}

.nav-menu li a.active{
	color: #FFB900 !important;
}

.nav-menu li a:hover {
	color: #FFB900 !important;
}

.dropdown-menu {
    background-color: #333333;
}

/* ========================================================================================== */
/* PAGE */
/* ========================================================================================== */

.page-heading {
	background:#757575;
}

/* ========================================================================================== */
/* FORM */
/* ========================================================================================== */

.content 
{
    background-color: #505050;
}

.form-heading {
    color: #505050;	
}

.banner-home-right {
	background: #FFB900;
    opacity: 1;
}

.banner-home-right a {
	color: #FFFFFF;
}

.banner-caption {
    color: #4D4D4D;
}

.banner-splitter {
	border-right-color: #4D4D4D;
}

/* ========================================================================================== */
/* BUTTONS */
/* ========================================================================================== */

.btn-search {
	background-color: #626262;
}

.btn-search:hover {
	background-color: #696969;
    border: none;
}

.btn-themed {
    background-color: #FFB900;
    color: #FFFFFF;
}

.btn-themed:hover {
    background-color: #FFB200;
    color: #FFFFFF;
}

.btn-themed-secondary {
    background-color: #FFB900;
    color: #FFFFFF;
}

.btn-themed-secondary:hover {
    background-color: #FFB200;
    color: #ffffff;
}

.btn-close {
    background-color: #626262;
    color: #FFFFFF;
}

/* ========================================================================================== */
/* MODAL */
/* ========================================================================================== */

.modal-header {
    color: #FFFFFF;
    background-color: #626262;
    font-size: 18pt;
}

/* ========================================================================================== */
/* TOP FOOTER */
/* ========================================================================================== */

.top-footer {
    background-color: #363636;
}

.top-footer a {
    
    color: #FFFFFF;
}

.top-footer-h2 {
    color: #FFFFFF;
}

.top-footer-p {
	color: #FFFFFF;
}

/* ========================================================================================== */
/* BOTTOM FOOTER */
/* ========================================================================================== */

.btm-footer {
    color: #FFFFFF;
    background-color: #1a1a1a;
}

.btm-footer a 
{
    color: #FFFFFF;
}

.btm-footer-item-border {
    border-right-color: #FFFFFF;
}

/* ========================================================================================== */
/* PURCHASE */
/* ========================================================================================== */

.ticket-info h3 {
    color: #4D4D4D;
}

.ticket-info ul {
    color: #4D4D4D;
}

.subscript {
    color: #4D4D4D;
}

/* ========================================================================================== */
/* EVENT PANELS */
/* ========================================================================================== */

.event-date {
    color: #FFFFFF;
	background-color: #777777;
}

.event-date-shaded {
    background-color:#999999;   
}

.event-performer {
    color: #FFFFFF;
}

.event-venue {
    color: #FFFFFF;
}

.event-detail-heading {
	color: #FFFFFF;
}

/* ========================================================================================== */
/* RATING PANELS */
/* ========================================================================================== */

.rating-block {
    border-bottom-color: white; 
}

.rating-heading {
    color: #FFB200;
}

.rating-info {
    color: #FFFFFF;
}

/* ========================================================================================== */
/* LIGHT BOX */
/* ========================================================================================== */

.box-light {
	background: #757575;
}

.box-light h3 {
	color: #FFB900;
}

.box-light p {
	margin: 10px 0px;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}

.box-light ul li a {
	color: #FFFFFF;
}

.box-light-splitter {
	border-right-color: #FFB900; 
}

/* ========================================================================================== */
/* VENUE BOX */
/* ========================================================================================== */

.box-dark {
	background-color: #4A4A4A;
}

.box-dark h3 {
	color: #FFB900;
}

.box-dark ul li a {
	color: #FFFFFF;
	font-weight:bold;
	font-size: 18px;
}

/* ========================================================================================== */
/* HELPERS */
/* ========================================================================================== */

.highligted-text {
	color: #FFB900;
}

.row-underline-dark {
    border-bottom-color: #777777;
}

.row-underline-light {
    border-bottom-color: #AAAAAA;
}